[submodule "themes/hugo-hero"]
	path = themes/hugo-hero
	url = https://github.com/zerostaticthemes/hugo-hero-theme.git
[submodule "themes/tella"]
	path = themes/tella
	url = https://github.com/opera7133/tella.git
