<div class="swiper-container">
    <div class="swiper-wrapper">
        {{ range .Site.Data.slide }}
        <div class="swiper-slide">
            <img src="{{ .image }}" alt="">
            <div class="s-fade-txt">
                <h1 class="mb-2 text-4xl font-extrabold font-mono tracking-tight leading-none text-white md:text-5xl lg:text-6xl dark:text-white">Value privacy.</h1>
                <h1 class="mb-4 text-4xl font-extrabold font-mono tracking-tight leading-none text-white md:text-5xl lg:text-6xl dark:text-white">Ensure security.</h1>
                <p class="mb-6 text-lg font-normal font-mono text-white lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">
                    Cyber security and network security solutions for South Australian homes.</p>
                <!-- <a href="/services/" class="inline-flex items-center text-lg text-white-600 dark:text-white-500 hover:underline">
                    Read more
                    <svg class="ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                </a> -->
                <!-- <h1 class="text-4xl text-white">{{ .title }}</h1> -->
            </div>
        </div>
        {{ end }}
    </div>
    <!-- <div class="swiper-button-prev"></div> -->
    <!-- <div class="swiper-button-next"></div> -->
</div>